body {
	background-color: grey;
}

#app {
	background-color: rgb(111, 119, 95);
	height: 100vh;
	width: 100%;
	margin: 20px auto;
	display: flex;
  	justify-content: center;
}

.hide {
	display: none !important;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
	text-align: center;
	margin-bottom: 1em;
	font-size: 3em;
}

.img-virus {
	width: 60%;
}

.btn-primary {
	width: 70%;
}

#start {
	display: flex;
	height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#username-form {
	margin-top: 1.5rem;
	text-align: center;
}

#chat-wrapper {
	display: flex;
	height: 100vh;
}

#chat {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-right: 1px solid #555;
}

#game-field {
	height: 100vh;
	display: flex;
	justify-content: space-between;
}


#gamingboard {
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 3rem;
	width: 80%;
}

#play {
	background-color: #6a866a;
	min-width: 600px;
	min-height: 60vh;
	position: relative;
	margin: auto;
}

#playimg {
	width: 9%;
	position: absolute;
	top: 200px;
	left: 200px;
}


.container {
	margin: auto;
    text-align: center;
    max-width: 800px;
}

ul {
    list-style-type: none;
}

#chat .form-group {
	flex-grow: 1;
	display: flex;
}

#chat .form-group #message {
	flex-grow: 1;
}

.info {
	text-align: center;
}

#online-users {
	border-bottom: 1px solid black;
}

#users {
	background-color: rgb(111, 119, 95);
	display: flex;
	flex-direction: column;
	flex-basis: 20%;
	border: 1px solid black;
	width: 100%;
}

#users h2 {
	background-color: cornflowerblue;
	padding: 0.5rem 0.75rem;
	color: white;
}

#waiting {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#users ul {
	margin: 0;
	padding: 0.5rem 0.75rem;
	list-style: none;
}

#message-wrapper {
	flex-grow: 1;
}

#messages li .user {
	font-weight: bold;
}

#messages .notice {
	font-style: italic;
}
